<section>
  <div class="container-fluid">
    <div class="row align-items-center gap-5 gap-lg-0">
      <div class="col-12 col-lg-6">
        <div>
          <div class="display-4 lh-base fw-bold mb-4">
            {{coverTitle}}
            <span class="bg-black text-white px-2 rounded-3 py-1">{{coverTitleCard}}</span>
            {{or}}
            <span class="bg-black text-white px-2 rounded-3 py-1">{{coverTitleCrypto}}</span>
          </div>
          <div class="h4 text-gray-500">
            {{coverDescription}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="w-50 position-relative">
            <img class="img-fluid" src="../images/cover-iphone.png" />
            <div class="levitating-icon levitating-icon--instagram">
              <div class="levitating-icon-wrapper shadow">
                <img class="img-fluid" src="../images/instagram.svg" />
              </div>
            </div>
            <div class="levitating-icon levitating-icon--telegram">
              <div class="levitating-icon-wrapper shadow">
                <img class="img-fluid" src="../images/telegram.svg" />
              </div>
            </div>
            <div class="levitating-icon levitating-icon--tiktok">
              <div class="levitating-icon-wrapper shadow">
                <img class="img-fluid" src="../images/tiktok.svg" />

              </div>
            </div>
            <div class="levitating-icon levitating-icon--youtube">
              <div class="levitating-icon-wrapper shadow">
                <img class="img-fluid" src="../images/youtube.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>