<section>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="h1 mb-4">
          {{coverTitle}}
          <span>{{coverTitleCard}}</span>
          {{or}}
          <span>{{coverTitleCrypto}}</span>
        </div>
        <div>
          {{coverDescription}}
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-center">
          <div class="w-50">
            <img class="img-fluid" src="../images/cover-iphone.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>