<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-3 mb-lg-8">
      {{LinkCustomizationTitle}}
    </div>

    <div class="row align-tems-center gap-4 gap-lg-0 flex-lg-row-reverse">
      <div class="col-12 d-flex align-items-center mb-5 mb-lg-10">
        <div class="d-grid gap-3">
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            {{howToCreateLinkStep1}}
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            {{howToCreateLinkStep2}}
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            {{howToCreateLinkStep3}}
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            {{howToCreateLinkStep4}}
          </div>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="shadow-lg bg-gray-100 rounded-5 overflow-hidden">
            <video class="img-fluid" 
              src="../assets/video/donate-customization.mp4" 
              loop="true" 
              autoplay="true" 
              preload="true" 
              playsinline="true" 
              muted="true"></video>
        </div>
      </div>
    </div>
  </div>
</section>